{% extends "base.html" %}


{% block css %}
{% load static %}
<link rel="stylesheet" type"text/css" href="{% static 'mysite/style.css' %}" />
{% endblock %}

{% block content %}

<div class="login-outer">

<img class="back-image-signup" src="{% static 'mysite/fire.jpg' %}" alt="Vancouver Festival of Lights"/>

<div class="login-container">
    


<div class="login-box logout-text">
    
<p>Logged out!</p>  

<a href="{% url 'login'%}">Click here to login again.</a>

    
</div>
</div>
</div>
    
{% endblock %}    
    
    


