{% extends "base.html" %}
{% load static %}

{% block content %}

{% block css %}
{% endblock %}



<img class="back-image-login" src="{% static 'mysite/tree-stanley-park1.jpg' %}" alt="Stanley Park tree"/>

<div class="login-container">
    


<div class="login-box">
    

    
    
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="login-inputs">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>
</div>

<div>
  <input  class="btn btn-primary btn-block" type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>


<div class="login-extras">
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

<p><a href="{% url 'signup' %}">Create new user</a></p>
</div>
</div>
</div>

{% endblock %}