
body {
    position: relative;
    margin: 0;
}



html {
	box-sizing: border-box;
	font: normal 16px/150% Lato, sans-serif, Helvetica, sans-serif;
	}

h1 {
  color: #ff0586;
} 
	
footer {
    display: flex;
	width: 100vw;
	min-height: 8em;
	background: #6e7377;
    margin: auto;
    align-items: flex-start; 

    
}

.footer-left {
    width: 50%;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
}

.footer-left i {
    color: white;
    margin-left: 15px;
    
}

.footer-right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 50px;
}

.footer-right a {
    padding: 10px;
    display: block;
}

.license {
    color: white;
    display: inline;
    padding: 10px;
    position: relative;
}


.license::before {
    content: "\f25e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 10px;
}

.license a {
    text-decoration: underline; 
    color: white;
}

.selected {
	background-color: rgba(117, 255, 229, 0.71);
	color: #686868;
}

.topmenu {
	background-color: #656565;
	border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font: 1.8em Fira Sans, sans-serif, Helvetica, sans-serif;
}

.topmenu-left {
    display: flex;
    height: 100%;
}

.topmenu-right {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
	
.topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#topmenu-login::before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 10px;
}

.topmenu li a {
    display: block;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    color: #ffffff;
}

.topmenu li a:hover {
	color: rgba(117, 255, 229, 0.71);
}

.login-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    justify-content: center;
    align-items: center;	
	border-radius: 5px;
	padding: 25px;
    position: relative;
}

.login-box {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.51);
    padding: 50px;
	border: 1px solid #cecece;
}

.signup-box {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.51);
    padding: 50px;
	border: 1px solid #cecece;
    width: 400px;
}

.login-inputs {
	padding-bottom: 10px;
}

.invalid-feedback {
    color: #ffdada;
    background: rgba(124, 124, 124, 0.87)
}

.is-invalid {
    border: 2px solid;
    border-color: red;
}

.user-ok {
	color: green;
    border: 3px solid green;
}

.user-notok {
	color: red;
    border: 3px solid red;
}

.login-box input {
	width: 100%;
}

.login-box a {
    color: black;    
}



.back-image-signup {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    z-index:-1;
    width: 1600px;
}


.white-text a, .white-text p {
    color: white;
    font-size: 2em;
}

.ranking-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    justify-content: center;
    align-items: center;	
	border-radius: 0px;
	padding: 25px;
    position: relative;
}

.ranking-box {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255);
    padding: 50px;
	border: 1px solid #cecece;
}

.social-icon {
    color: white;
}

.social-icon:hover {
    color: aqua;
}





.main-wrapper {
    position: relative;
    width: inherit;
    margin-top: 20px;
    overflow: hidden;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 800px) {
    .main-wrapper {
        overflow: scroll;
    }
}
    
.darken {
    background-color: rgba(80, 80, 80, 0.85);
}

.about-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	padding: 25px;
	margin: auto;
    max-width: 500px;
	color: #ffffff;
    z-index: 10;
}

.about-text p {
    font-size: 1.2em;
}

.back-image-about {
    position: relative;
    z-index: -1;
    width: 100%;
}

.hidden {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.about-title {
    font: 2em Archivo Black, sans-serif;
    margin-top: 100px;
}

@media screen and (max-width: 800px) {
    .about-title {
    margin-top: 20px;
    }
}
    
    


.login-outer {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}
