{% extends "base.html" %}

{% block css %}
{% load static %}

{% block extra_head %}
{% endblock extra_head %}

<link rel="stylesheet" type=text/css" href="{% static 'hindsight1/hindsight1.css' %}" />
{% endblock %}



{% block subtopmenu %}
<div class="subtopmenu">
  <ul>
    <li><a href="{% url 'hindsight1:ranking' %}"><b>ranking</b></a></li>	
    <li><a href="{% url 'hindsight1:play' %}"><b>new play</b></a></li>
    <li><a href="{% url 'hindsight1:dashboard' %}"><b>performance dashboard</b></a></li>	
  </ul>
</div>
{% endblock subtopmenu %}

{% block content %}


{% endblock content %}