{% extends "hindsight1/base_hindsight1.html" %}
{% load humanize %}
{% load static %}

{% block extra_head %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.js"></script>

{% endblock extra_head %}

{% block content %}

<p>Date: {{ date }}</p>
<br>

<p>Current Capital: {{ capital|intcomma }}</p>

<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
  {{ chart_div|safe }}
</div>
</div>



<div class="row">
<div class="col-md-8 col-md-offset-2">
<form action="" method="post">{% csrf_token %}
{{ form.non_field_errors }}
{{ form }}

<table>
  <tr>
    <td>Total Allocation: <output id="js-result"></output></td>
	<td><input type="submit" value="Submit Allocation" ></td>
  </tr>
</table>

  
<input type="hidden" name="play_id" value="{{ play_id }}" >

</form>



</div>
</div>

</div>


{% endblock %}

{% block javascript %}
<script src="{% static 'hindsight1/hindsight1.js' %}"></script>

{% endblock javascript %}