{% extends "blog/base_blog.html" %}
{% load static %}
{% load markdownify %}
{% load humanize %}


{% block post %}


<div class="index-container">

{% for post in posts %}


<div class="post-and-image"> 
  <div class="extras-container">
    <p id="extra-topic">{{post.topic }}</p>
	<p>{{post.pub_date|naturalday }}</p> 
    <span class="disqus-comment-count" data-disqus-identifier="your_disqus_identifier"> A <!-- Count will be inserted here --> </span>

  </div>
  
  <div class="thumbnail">
    <img src="{{ post.image.url }}" />
  </div>

  <div id="summary">	  
    <h3><a href="{% url 'blog:detail' post.id %}" id="index-post-title">{{ post.post_title }}</a></h3>
    <p>{{post.summary }}</p>
    {% if post.tags %}
    <ul id="tags">
      <li><a href="{% url 'blog:tags' post.tags.0 %}">{{ post.tags.0 }}</a></li>
      <li><a href="{% url 'blog:tags' post.tags.1 %}">{{ post.tags.1 }}</a></li>
      <li><a href="{% url 'blog:tags' post.tags.2 %}">{{ post.tags.2 }}</a></li>
    </ul>
    {% endif %}  
  </div>

  
</div>

  
{% endfor %}



</div>
    
  <script id="dsq-count-scr" src="//dodgingbias.disqus.com/count.js" async></script>


{% endblock post %}
 


