{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container-about">

<div class="main-wrapper js-wrap-about">

    <img class="back-image-about" src="{% static 'mysite/stanleypark.jpg' %}" alt="Green Stanley Park background"/>
    
    <div class="about-text">
        <span class="about-title">ABOUT</span>
        <p class="main-text js-text-about hidden">
            My name is Cristobal Aguirre. I studied Economics in Chile, worked for 4 years as a senior investment
            analyst in the country's largest pension fund and then moved to Vancouver with my wife in mid 2017
            after 5 months travelling through South East Asia.
        </p>
    </div>
</div>
    
<div class="main-wrapper js-wrap-science">
    <img class="back-image-about" src="{% static 'mysite/stanley-park-jan-9.jpg' %}" alt="Tree stub in Stanley Park"/>

    <div class="about-text">
        <span class="about-title">ECONOMICS AND DATA SCIENCE</span>
        <p class="main-text js-text-science hidden">
            I'm passionate about learning new things, partly because I enjoy the challenge
            of the process and partly because it satisfies my curiosity. Economics and data
            science are highly complementary in this quest for knowledge&mdash;economics with the
            emphasis on intuition, and understanding the underlying causes and effects; data
            science recently breaking off from the pack and establishing itself as an individual
            field, breaking new ground on analysis and predictive techniques.
            
        </p>
    </div>
</div>
    
<div class="main-wrapper js-wrap-django">
    <img class="back-image-about" src="{% static 'mysite/fallen-tree-1.jpg' %}" alt="Fallen tree in Stanley Park with green moss"/>
    
    <div class="about-text">
        <span class="about-title">PYTHON</span>
        <p class="main-text js-text-django hidden">
            As a self-taught programmer, I owe a great debt to the open source community.
            I set up this website as a personal project to work on my web app development
            skills with the Django Framework, and will use it to explore new techniques and
            document my learning process.
        </p>
    </div>
</div>

</div>
{% endblock content %}


{% block javascript %}
<script src="{% static 'mysite/mysite.js' %}"></script>

{% endblock javascript %}
