{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="hidden-text" style="display:none;">

    <div id="about">
    My name is Cristobal Aguirre. I studied Economics in Chile, and moved to Vancouver with my
    wife in mid 2017 after 5 months travelling around South East Asia. I set up this website
    as a personal project to improve my web app development skills with the Django Web Framework.
    </div>

    <div id="django">
    As a self-taught programmer, I owe a great debt to the open source community, and the people who took the time to write the tutorials and answers I used to learn. I will use this site as a platform to give back to the community as best I can, helping others who run into the same roadblocks I have in the past. And because the best way to get an answer on the internet is not by posting a question but an incorrect answer, I also hope more experienced programmers will chip in and share their experience for everyones' benefit.
    </div>

    <div id="science">
        My fondest memories while studying economics are the times I would open a new dataset in STATA or MATLAB, looking to uncover relationships and prove/refute my priors. I became a convert after being introduced to Python a few years ago, drawn by it's breadth, simplicity and a massive online community. This blog will double as a platform for me to explore and learn new Data Science techniques, trying to complement them with an economics flavour.
    </div>
</div>


<img class="back-image-login" src="{% static 'mysite/stanley-park-jan-13.jpg' %}" alt="Whistler Geese"/>

<div class="container-about">


<div class="container-about-selectors">

<div id="click-about" class="selected about-selectors">
About
</div>

<div id="click-science" class="about-selectors">
Python
</div>

<div id="click-django" class="about-selectors">
This Blog
</div>
</div>
    
<div class="about-main-text">
    <p id="main-text">
    My name is Cristobal Aguirre. I studied Economics in Chile, and moved to Vancouver with my
    wife in mid 2017 after 5 months travelling around South East Asia. I set up this website
    as a personal project to improve my web app development skills with the Django Web Framework.
    </p>
</div>


</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascript %}
<script src="{% static 'mysite/mysite.js' %}"></script>

{% endblock javascript %}
