{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container-about">

<div class="main-wrapper js-wrap-about">

    <img class="back-image-about" src="{% static 'mysite/stanleypark.jpg' %}" alt="Green Stanley Park background"/>
    
    <div class="about-text">
        <span class="about-title">ABOUT</span>
        <p class="main-text js-text-about hidden">
        My name is Cristobal Aguirre. I studied Economics in Chile, and moved to Vancouver with my
        wife in mid 2017 after 5 months travelling through South East Asia. I set up this website
        as a personal project to work on my web app development skills with the Django Web Framework. I'll use it to explore new techniques and document my learning process.
        </p>
    </div>
</div>
    
<div class="main-wrapper js-wrap-science">
    <img class="back-image-about" src="{% static 'mysite/stanley-park-jan-9.jpg' %}" alt="Tree stub in Stanley Park"/>

    <div class="about-text">
        <span class="about-title">DATA SCIENCE</span>
        <p class="main-text js-text-science hidden">
        I'm passionate about learning and discovering new things. We are living in the best moment in history for human knowledge: technological progess has greatly expanded our ability to collect data, and at the same time - thanks to the open source community, puts the tools and techniques necessary to explore it at the reach of anyone curious enough. 
        </p>
    </div>
</div>
    
<div class="main-wrapper js-wrap-django">
    <img class="back-image-about" src="{% static 'mysite/fallen-tree-1.jpg' %}" alt="Fallen tree in Stanley Park with green moss"/>
    
    <div class="about-text">
        <span class="about-title">PYTHON AND DJANGO</span>
        <p class="main-text js-text-django hidden">
        As a self-taught programmer, I owe a great debt to the open source community, and the people who took the time to write the tutorials and articles I used to learn. I will use this site as a platform to give back to the community as best I can, helping others who run into the same roadblocks I have in the past.
        </p>
    </div>
</div>

</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascript %}
<script src="{% static 'mysite/mysite.js' %}"></script>

{% endblock javascript %}
