{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="about">

<img src="{% static "mysite/whistler1.jpg" %}" alt="Whistler Geese"/>

<p>
My name is Cristobal Aguirre, and I set up this website as a personal project
to learn web app development with the Django Web Framework. I studied economics
in Chile and now live in Vancouver with my wife. While most of my working experience is
in finance, I am very interested in Data Science and Python. The simplicity of the syntax, its massive online support and resources
like StackOverflow and the thousands of libraries freely available online have allowed the
massification of its use. This means that going forward a new breed of analyst will emerge,
who is well versed in both the business framework he is trained in (think marketing, law, etc.)
<strong>and</strong> the technical solutions he requires (web app development, web scraping, process automation, data collection,
processing and analysis) which will allow business units that have traditionally outsourced the implementation
of these technical solutions to bring them back closer to where the action is. Prototypes will be
developed and tested faster than ever, as these business units start acting more like startups within their
parent company, able to fully implement the lean startup framework. Their newly acquired modularity will
increase their flexibility and reaction time to the ever changing business requirements, while simplyfing the
organizational structure and complexity. The only centralization required will be for functions such as
library management and the oversight of code quality (in terms of efficiency, scalability, etc.)
and transition from development to production.
</div>

{% endblock content %}
 

{% block footer %}
{% endblock footer %}
