{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="login-container">
  
<div class="login-box">
  
  <div id="username-check"></div>
  <form method="post" data-validate-username-url="{% url 'validate_username' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-block" type="submit">Sign up</button>
  </form>
  
</div>
</div>
  
{% endblock %}

{% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'mysite/mysite.js' %}"></script>

{% endblock javascript %}

