{% load static %}

{# Load tag library, CSS and JS from bootstrap #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<link rel="stylesheet" type"text/css" href="{% static 'photos/style.css' %}" />

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <h1>Life Questions</h1>
  </div>
 </div>
	
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'photos:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No photos are available.</p>
{% endif %}


