
<!DOCTYPE HTML>
<html lang"en">

<head>

{% load static %}

{# Load tag library, CSS and JS from bootstrap #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<link href="https://fonts.googleapis.com/css?family=Bitter|Fira+Sans|Lato|Abril+Fatface|Catamaran|Karla|Merriweather+Sans|Roboto+Mono|Supermercado+One|Archivo+Black" rel="stylesheet">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"></script>
<link rel="stylesheet" type"text/css" href="{% static 'mysite/style.css' %}" />
    
<script src="https://use.fontawesome.com/f5f6e30fff.js"></script>

{% block css %}{% endblock %}

<title> Cristobal Aguirre</title>
  <meta name="description" content="A blog on Python, Django, Data Science, Economics, and our life in Vancouver.">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
    

</head>


{% block topmenu %}

<div class="topmenu">
  <ul class="topmenu-left">
    <li><a href="{% url 'about' %}"><b>HOME</b></a></li>
    <li><a href="{% url 'hindsight1:play' %}">GAME</a></li>	  
    <li><a href="{% url 'blog:index' %}">BLOG</a></li>	
    </ul>
    <ul class="topmenu-right">	
	{% if user.is_authenticated %}
        {% if user.is_superuser %}
    	<li><a  href="{% url 'myhome'  username=user.username %}">{{ user.username }}: profile</a></li>
    {% endif %}
    <li><a  href="{% url 'logout' %}">logout</a></li>	    
	{% else %}
    <li><a  href="{% url 'login' %}" id="topmenu-login">login</a></li>
    <li><a  href="{% url 'signup' %}">sign up</a></li>
	{% endif %}
    </ul>	
  </div>

{% endblock topmenu %}

{% block subtopmenu %}
{% endblock subtopmenu %}

<body>

{% block content %}
{% endblock content %}


</body>

{% block footer %}
<footer>

<div class="footer-left">
    
<span class="license">
This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>
</span>
    
</div>

<div class="footer-right">
    <a href="https://github.com/jcaguirre89/" target="_blank">
    <i class="fa fa-github social-icon fa-3x" aria-hidden="true"></i>
    </a>
    
    <a href="https://www.linkedin.com/in/cristobal-aguirre-cfa/" target="_blank">
    <i class="fa fa-linkedin-square social-icon fa-3x" aria-hidden="true"></i>
    </a>
</div>

    
    
</footer>
{% endblock footer %}

{% block javascript %}{% endblock %}

</html>